/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: initial;
    background-color: initial;
    color: inherit;
    font: inherit;
    outline: none; /* Don’t forget: add visual indicator for focus */
}

/* KEYFRAMES */
@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes make-smaller {
    0% {
        height: 100%;
        width: 100%;
    }

    100% {
        height: 75%;
        width: 78%;
    }
}


/* BASE STYLES */
.app {
    height: 100vh;
    width: 100vw;

    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 15px;
}

.app__container {
    display: flex;
    height: calc(100vh - 55px);
}

/* STYLES */
.header {
    display: flex;
    height: 55px;

    background-image: linear-gradient(to right, #18A0BE, #622DB9);
}

.logo {
    align-self: center;
    margin-left: 20px;
    margin-right: 30px;
    animation: fade-in-from-top 0.5s;
}

.dd-toggle {
    padding: 0 13px;

    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    animation: fade-in-from-top 0.5s;
    transition: all 0.4s;
}

.dd-toggle:hover,
.dd-toggle:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:nth-of-type(4) {
    margin-left: auto;
}

.dd-toggle:last-child {
    display: flex;
    align-items: center;
}

.dd-toggle__icon {

}

.dd-toggle__img {
    width: 30px;
    height: 30px;
    margin-right: 7px;

    object-fit: cover;
    border-radius: 50%;
}

.dd-toggle__text {

}

/* ------------------ */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 75px;
    background-color: #10171A;
}

.menu {

}

.menu__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.4);
    animation: fade-in-from-left 0.5s;
}

.menu__button--active {
    position: relative;
    color: white;
    background-color: #2B363B;
    transform: all 0.4s;
}

.menu__button:hover,
.menu__button:focus {
    cursor: pointer;
    background-color: #2B363B;
    color: #fff;
}

.menu__button--active::before {
    position: absolute;
    left: 0;
    top: 0;

    content: '';
    width: 3px;
    height: 100%;
    background-color: #375BB6;
}

.menu__icon {
    font-size: 18px;
    margin-bottom: 3px;
}

.menu__text {
    font-weight: 500;
    font-style: 12px;
}

.footer {
    margin-top: auto;
    margin-bottom: 60px;
    transform: rotate(-90deg);
}

.copyright {
    color: rgba(255, 255, 255, 0.15);
    font-size: 12px;
    white-space: nowrap;
}

/* ------------------ */

.panel {
    width: 350px;
    padding: 15px 31px;

    background-color: #2B363C;
}

.panel__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;

    border-bottom: 1px solid #4b5155;
}

.first-heading {
    font-size: 18px;
    font-weight: 400;
}

.panel__collapse-icon {
    color: #6B7276;
    cursor: pointer;
}

.panel__images {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    gap: 8px;
}

.panel__img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 7px;
    transition: all 0.2s;
    cursor: pointer;
    animation: fade-in 1s;
}

.panel__img:nth-child(2) {
    animation: fade-in 1s 0.1s backwards;
}

.panel__img:nth-child(3) {
    animation: fade-in 1s 0.2s backwards;
}

.panel__img:nth-child(4) {
    animation: fade-in 1s 0.3s backwards;
}

.panel__img:nth-child(5) {
    animation: fade-in 1s 0.4s backwards;
}

.panel__img:hover {
    transform: scale(1.05);
}

.panel__btn {
    width: 140px;
    height: 140px;
    border-radius: 7px;  
    background-color: #333e44;
    cursor: pointer;
    transition: all 0.2s;
    animation: fade-in 1s 0.5s backwards;
}

.panel__btn:hover,
.panel__btn:focus {
    background-color: #404c52;
}

.panel__upload-icon {
    font-size: 25px;
    color: #21292d;
}

/* ------------------ */

.main {
    flex: 1;
    background-color: #EDF1F3;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    background-color: #fff;
    border: 1px solid #D6DDE1;
}

.breadcrumbs {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.breadcrumbs__link {
    color: #A6ADB1;
    text-decoration: none;
}

.breadcrumbs__icon {
    color: #A6ADB1;
    margin: 0 13px;
}

.breadcrumbs__name {
    color: #2E3335;
    font-weight: 500;
}

.button {
    padding: 8px 20px;

    background-color: #375BB6;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 500px;
    cursor: pointer;
    transition: all 0.4s;
}

.button:hover,
.button:focus {
    background-color: #26438D;
}

.artboard {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    height: calc(100vh - 50px - 55px);
    margin-top: -25px;
}

.canvas {
    position: relative;
    height: 57.5vh;
    width: 48.6vw;

    border: 1px solid #fff;
    border-radius: 3px;
}

.canvas__bg-img {  
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.15;
}

.canvas__fg-img {
    position: absolute;
    height: 75%;
    width: 78%;
    object-fit: cover;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    cursor: grab;
    animation: make-smaller 1s 0.2s backwards;
}

.canvas__circle {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: fade-in 1s 1s backwards;
}

.canvas__circle:nth-of-type(1) {
    top: 11.5%;
    left: 10.4%;
    cursor: nw-resize;
}

.canvas__circle:nth-of-type(2) {
    top: 11.5%;
    right: 10.4%;
    cursor: sw-resize;
}

.canvas__circle:nth-of-type(3) {
    bottom: 11.5%;
    left: 10.4%;
    cursor: sw-resize; 
}

.canvas__circle:nth-of-type(4) {
    bottom: 11.5%;
    right: 10.4%;
    cursor: se-resize;
}

.tools {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 57.5vh;
    animation: fade-in-from-right 0.5s;
}

.tool {
    background-color: #E1E6E9;
    height: 44px;
    width: 44px;
    border-radius: 8px;
    color: #404446;
    cursor: pointer;
    transition: all 0.4s;
}

.tool--active {
    background-color: #2B363B;
    color: #fff;
}

.tool:last-child {
    margin-top: auto;
}

.tool:hover,
.tool:focus {
    background-color: #2B363B;
    color: #fff;
}

.tool__icon {

}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .panel {
        display: none;
    }

    .canvas {
        width: 67vw;
    }
}

@media (max-width: 1100px) {
    .app__container {
        height: initial;
        min-height: 100vh;
    }

    .sidebar {
        display: none;
    }

    .info-bar {
        padding: 0 20px;
    }

    .artboard {
        padding: 50px 20px;
        margin-top: 0;
        height: initial;
    }

    .canvas {
        width: 100%;
        height: 500px;
    }

    .tools {
        height: 500px;
    }
}

@media (max-width: 580px) {
    .dd-toggle:nth-of-type(1),
    .dd-toggle:nth-of-type(2),
    .dd-toggle:nth-of-type(3) {
        display: none; /* other var. visibility, opacity */
    }

    .artboard {
        flex-direction: column;
    }

    .canvas {
        order: 2;
        height: 450px;
    }

    .canvas__circle:nth-of-type(1) {
        top: 11.5%;
        left: 9.8%;
    }

    .canvas__circle:nth-of-type(1) {
        top: 11.5%;
        right: 9.8%;
    }

    .canvas__circle:nth-of-type(1) {
        bottom: 11.5%;
        right: 9.8%;
    }

    .canvas__circle:nth-of-type(1) {
        bottom: 11.5%;
        left: 9.8%;
    }

    .tools {
        flex-direction: row;
        height: inherit;
        margin-bottom: 15px;
        column-gap: 5px;
        order: 1;
        align-self: flex-start;
    }

    .tool:last-child {
        margin: 0;
    }
}

@media (max-width: 440px) {
    .header {
        justify-content: space-between;
    }

    .dd-toggle:nth-of-type(4),
    .dd-toggle:nth-of-type(5) {
        display: none;
    }

    .breadcrumbs__link,
    .breadcrumbs__icon {
        display: none;
    }

    .canvas {
        height: 400px;
    }

}


@media (max-width: 280px) {
    .header {
        width: 100%;
    }
    
    .dd-toggle__text {
        display: none;
    }

    .button {
        display: none;
    }
}